html {
  background: #efefef;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.chess_heading {
  display: block;
  margin-top: 75px;
  margin-bottom: 45px;
  font-family: 'Muli', sans-serif;
  font-size: 36px;
  color: #444;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.board_wrapper {
  display: flex;
  background-image: url('images/board.png');
  padding: 20px;
  margin: 25px auto;
  width: 514px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 50px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 50px -30px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 50px -30px rgba(0,0,0,0.75);
}
#chessboard {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(238, 213, 183, 0.75);
}
.tile {
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}
.active_tile {
  box-shadow: inset 0 0 24px rgba(0, 255, 255, 0.75);
}
.potential_destination {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    box-shadow: inset 0 0 44px rgba(0, 255, 255, 0.75);
  }
  50% {
    box-shadow: inset 0 0 24px rgba(0, 255, 255, 0.75);
  }
  100% {
    box-shadow: inset 0 0 44px rgba(0, 255, 255, 0.75);
  }
}
.black {
  background-color: rgba(0, 0, 0, 0);
}
.white {
  background-color: rgba(238, 213, 183, 0.75);
}
.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-size: 44px;
    padding: 0;
}
.piece_image {
  height: 54px;
  width: 54px;
}

.boneyard {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 3px;
  width: calc(100% - 50px);
  padding: 20px;
  max-width: 514px;
  margin: 0 auto 100px;
  -webkit-box-shadow: 0px 4px 50px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 50px -30px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 50px -30px rgba(0,0,0,0.75);
}
.boneyard_header {
  display: block;
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  color: #444;
  margin: 5px;
}
.boneyard_list {
  display: block;
  text-align: left;
}
.boneyard_list img {
  width: 16.6666667%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.substitution_modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
}
.substitution_text {
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 40px;
  margin: 75px auto 0;
  color: #fff;
}
.substitution_list {
  display: flex;
  width: 70%;
  height: auto;
  margin: auto;
}
.substitution_image {
  display: block;
  width: 20%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.substitution_image:hover {
  transform: scale(1.2) !important;
}