body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.board_wrapper {
  display: flex;
  background-image: url('images/board.png');
  padding: 20px;
  margin: 25px auto;
  width: 514px;
  border-radius: 4px;
}
#chessboard {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(238, 213, 183, 0.75);
}
.tile {
  width: 64px;
  height: 64px;
  float: left;
  cursor: pointer;
}
.active_tile {
  box-shadow: inset 0 0 24px rgba(0, 255, 255, 0.75);
}
.potential_destination {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    box-shadow: inset 0 0 44px rgba(0, 255, 255, 0.75);
  }
  50% {
    box-shadow: inset 0 0 24px rgba(0, 255, 255, 0.75);
  }
  100% {
    box-shadow: inset 0 0 44px rgba(0, 255, 255, 0.75);
  }
}
.black {
  background-color: rgba(0, 0, 0, 0);
}
.white {
  background-color: rgba(238, 213, 183, 0.75);
}
.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-size: 44px;
    padding: 0;
}
.piece_image {
  height: 54px;
  width: 54px;
}

.boneyard {
  display: flex;
  flex-direction: column;
  background: #efefef;
  border-radius: 4px;
  width: calc(100% - 50px);
  padding: 20px;
  max-width: 514px;
  margin: 0 auto 50px;
}
.boneyard_header {
  display: block;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}
.boneyard_list {
  display: block;
  text-align: left;
  margin: 25px 0 0;
}
.boneyard_list img {
  width: 20%;
  height: auto;
  margin-bottom: 25px;
}